*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;

}

body{
    background-color: #f3f3f3;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    height: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center; 
    .list{
        width: 100%;
        max-width: 768px;
        background-color: #fff;
        border: 1px solid #ccc;
        margin-top: 25px;
        .item{
            padding: 15px;
            border-bottom: 1px solid #ccc;
            &:last-of-type{
                border-bottom: none;
            }
            &:hover{
                background-color: rgba(0, 0, 0, 0.05);
            }
        }
    }
}

.pageNumbers{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    button{
        width: 50px;
        height: 50px;
        appearance: none;
        border: none;
        outline: none;
        cursor: pointer;

        background-color: #44aaee;
        margin: 5px;
        transition: 0.4s;
        color: #fff;
        font-size: 18px;
        text-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0  4px rgba(0, 0, 0, 0.2);
        &:hover{
            background-color: #44eeaa;
        }
        &.active{
            background-color: #44eeaa;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
        }
    }
}

button.active{
    background-color: #44eeaa;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.listComments{
    margin-top: 20px;
    color: rgb(104, 104, 104);
}

.title-post{
    margin: 20px;
}